.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

/*自定义容器*/
.custom-block
  transition: all 0.3s
  &:hover
    // background: #dfe3e6
    box-shadow: 5px 10px 10px #d9e0e6
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right
  &.details
    display: block
    position: relative
    border-radius: 2px
    margin: 1.6em 0
    padding: 1.6em
    background-color: #eee
    summary
      cursor pointer
      outline none
      user-select none
.theme-default-content:not(.custom){
    // margin-right: 80px
  }
.home
  .hero
    img
      transition: all 0.3s
      border-radius: 10px
// 自定义code`背景色与字体颜色`
.theme-default-content
  code
    background-color #fff5f5
    color #ff502c
// navBar毛玻璃效果
.navbar
  backdrop-filter: blur(6px)
  background-color: transparent
  // box-shadow: 0 2px 10px 0#ece1e1
  box-shadow: 0 2px 10px 0 rgba(0 0 0 0.12)
  border-bottom: none
  .links
    background-color: transparent !important